# ----------------------------------------
# Python bytecode (inside basecode)
basecode/__pycache__/
*.pyc

# ----------------------------------------
# Environment settings
basecode/.env

# ----------------------------------------
# IDE/editor folders
basecode/.vscode/
basecode/.idea/

# ----------------------------------------
# ACT runner cache
.act/

# ----------------------------------------
# Temporary CLI data outputs

# Basecode folder outputs
basecode/vermont_monthly/
basecode/vermont_monthly_bronze/
basecode/vermont_monthly_silver/

# CLI folder outputs
era5-monthly-averages/vermont_monthly/
era5-monthly-averages/vermont_monthly_bronze/
era5-monthly-averages/vermont_monthly_silver/


